<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logoredondo"
        android:label="@string/app_name"
        android:roundIcon="@color/design_default_color_primary_dark"
        android:supportsRtl="true"
        android:theme="@style/Theme.GYMZY">

        <activity
            android:name=".general.sesion.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".general.PantallasPrincipales.ListaRutina"
            android:exported="false" />

        <activity
            android:name=".general.PantallasPrincipales.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".general.PantallasPrincipales.ConfiguracionActivity"></activity>

        <activity android:name=".musculosGeneral.abs" android:exported="false" />
        <activity android:name=".musculosGeneral.pecho" android:exported="false" />
        <activity android:name=".musculosGeneral.espalda" android:exported="false" />
        <activity android:name=".musculosGeneral.biceps" android:exported="false" />
        <activity android:name=".musculosGeneral.triceps" android:exported="false" />
        <activity android:name=".musculosGeneral.pierna" android:exported="false" />
        <activity android:name=".musculosGeneral.hombro" android:exported="false" />
        <activity android:name=".musculosGeneral.gluteo" android:exported="false" />
        <activity android:name=".musculosGeneral.cardio" android:exported="false" />

        <activity android:name=".general.PantallasPrincipales.Precios" android:exported="false" />
        <activity android:name=".musculoPecho.PressBancaDetalleActivity" android:exported="false" />
        <activity android:name=".musculoAbs.ab_crunch" android:exported="false" />
        <activity android:name=".musculoAbs.ab_elevaciones" android:exported="false" />
        <activity android:name=".musculoAbs.ab_mountainclimber" android:exported="false" />

        <activity android:name=".general.PantallasPrincipales.Consulta"></activity>

        <activity android:name=".general.Api.Wger.EjerciciosListaActivity" android:exported="false" />
        <activity android:name=".general.Api.Wger.DetalleEjercicioActivity" android:exported="false" />

        <activity android:name=".general.sesion.MainActivity"></activity>
        <activity android:name=".general.sesion.RegistroActivity"></activity>
        <activity android:name=".general.sesion.SignUpActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>