<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logoredondo"
        android:label="@string/app_name"
        android:roundIcon="@color/design_default_color_primary_dark"
        android:supportsRtl="true"
        android:theme="@style/Theme.GYMZY"
        >
        <activity
            android:name=".general.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".general.ListaRutina"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".musculosGeneral.abs">
        </activity>
        <activity
            android:name=".musculosGeneral.pecho">
        </activity>
        <activity
            android:name=".musculosGeneral.espalda">
        </activity>
        <activity
            android:name=".musculosGeneral.biceps">
        </activity>
        <activity
            android:name=".musculosGeneral.triceps">
        </activity>
        <activity
            android:name=".musculosGeneral.pierna">
        </activity>
        <activity
            android:name=".musculosGeneral.hombro">
        </activity>
        <activity
            android:name=".musculosGeneral.gluteo">
        </activity>
        <activity
            android:name=".musculosGeneral.cardio">
        </activity>
        <activity android:name=".general.Precios"/>
        <activity android:name=".musculoPecho.PressBancaDetalleActivity"/>
        <activity android:name=".musculoAbs.ab_crunch" />
        <activity android:name=".musculoAbs.ab_elevaciones" />
        <activity android:name=".musculoAbs.ab_mountainclimber" />

        
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>